
{% load menu_tags %}


<!-- Fixed masthead -->
<div class="navbar navbar-default {% block navbar-addition-class %}{% endblock %}" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                {% show_menu 0 100 2 2 %}
                
            </ul>
            
            <!-- 
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../masthead/">Default</a></li>
                <li><a href="../masthead-static-top/">Static top</a></li>
                <li class="active"><a href="./">Fixed top</a></li>
            </ul>
            -->
        </div><!--/.nav-collapse -->
    </div>
</div>
